.ContainerHearo{
    color: aliceblue;
    
}
.content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.info{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 30px;
}
.aboutme{
    text-align: left;
}
.aboutme p{
    width: 470px;         
        
    text-align: justify; 
}
.aboutme a{
    color: #ffcaf7;
}